hr,p,ul,li{
    padding: 0;
    margin: 0;
}

.top-wrapper{

    width: 100%;

}
.header{
    position: relative;
    background: #03274b;

}
.navigation{

    background: #072c53;
    padding: 5px 0;
    margin-bottom: 10px;

}
.navigation-layout{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;

}
.navigation ul{


}
.navigation ul li{
    display: inline;
    list-style: none;


}
.navigation ul li a{

    color: #ffffff;
    font-size: 14px;
    padding: 5px 15px;
}

.main-header{
    width: 80%;
    margin: 0 auto;
}
.header-logo{
    width: 90px;
    margin: 0 auto;
    padding: 30px 0;
    margin-left: 10px;
}
.main-header img{
    width: 100%;
}
.header-title{
    margin: 0 auto;
    margin-top: 65px;

}
.header-title p.main-title{
    font-size: 30px;
    color:#ffffff;

}
.header-title p.sub-title{
    font-size: 14px;
    color:#ffffff;

}
.header-navigation{

    position: absolute;
    top: 10%; 
    right: 1% ;
}
.header-navigation ul{

}
.header-navigation ul li{
    display: inline;
    list-style: none;
    border-right: 1px solid #ffffff;
}
.header-navigation ul li a{
    color: #ffffff;
    font-size: 12px;
    padding: 5px 5px;

}
.footer{

    background: #03274b;
    padding: 10px 0;
}
.main-footer{

    width: 85%;
    margin: 0 auto;
}
.main-footer p{
    margin: 0;
    color: #7f99a9;
    font-size: 12px;
}
.content{
    width: 80%;
    margin: 0 auto;
    min-height: 400px;
}
.user-content{
    width: 95%;
    margin: 0 auto;
    min-height: 400px;
}
.sidebar{

    padding: 5px;
    border: 1px solid #e2e2e2;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;
    margin-bottom: 10px;

}
.main-sidebar{

    background: #2a6ba5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sidebar-head{

    padding: 5px 0;
    width: 50%;
    margin: 0 auto;

}
.sidebar-content{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #e2e2e2;

}
.sidebar-content ul{


}
.sidebar-content ul li{
    list-style: none;

}
.sidebar-content ul li a{

    font-size: 12px;

}
.sidebar-head p{
    color: #ffffff;
    font-weight: bold;


}
.news{
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    margin-bottom: 10px;
}
.news-title p{
    margin-left: 35px;
    text-decoration: underline;
}
.news-title p{

    font-size: 16px;
    font-weight: bold;
    color: #2a6ba5;
}
.news-content{
    margin-top: 10px;
}
.news-content a{
    color: #666666;
}
.factory{

    width: 90%;
    margin: 0 auto;
}
.side-profile{
    border: 1px solid #c6c6c6;
    border-radius: 15px;
      padding: 10px 0;
}

.user-img img{

    width: 100%;

}
.user-img{
   
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.user-profile{
    
    width: 85%;
    margin: 0 auto;
}
.user-profile-text{
    font-weight: bold;
    color: #ff3333;
}
.user-profile-text2{
    
     font-weight: bold;
     color: #cccccc;
}
.user-tool{
    
    padding: 30px;
     border: 1px solid #c6c6c6;
    border-radius: 15px;
    
}

/*//////////////  Nivo slider*/

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*//////////////  Nivo slider*/

label.error { float: none; color: red;  vertical-align: top; font-size: 0.8em}