hr,p,ul,li{
    padding: 0;
    margin: 0;
}
input,img {

    width: 100%;

}


body{
    position: relative;
    background: #3fa2f9;
    background-image: linear-gradient(left , rgb(63,162,249) 14%, rgb(108,199,251) 28%, rgb(132,217,250) 42%, rgb(136,218,251) 56%, rgb(132,217,250) 70%, rgb(108,199,251) 84%, rgb(63,162,249) 99%);
    background-image: -o-linear-gradient(left , rgb(63,162,249) 14%, rgb(108,199,251) 28%, rgb(132,217,250) 42%, rgb(136,218,251) 56%, rgb(132,217,250) 70%, rgb(108,199,251) 84%, rgb(63,162,249) 99%);
    background-image: -moz-linear-gradient(left , rgb(63,162,249) 14%, rgb(108,199,251) 28%, rgb(132,217,250) 42%, rgb(136,218,251) 56%, rgb(132,217,250) 70%, rgb(108,199,251) 84%, rgb(63,162,249) 99%);
    background-image: -webkit-linear-gradient(left , rgb(63,162,249) 14%, rgb(108,199,251) 28%, rgb(132,217,250) 42%, rgb(136,218,251) 56%, rgb(132,217,250) 70%, rgb(108,199,251) 84%, rgb(63,162,249) 99%);
    background-image: -ms-linear-gradient(left , rgb(63,162,249) 14%, rgb(108,199,251) 28%, rgb(132,217,250) 42%, rgb(136,218,251) 56%, rgb(132,217,250) 70%, rgb(108,199,251) 84%, rgb(63,162,249) 99%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        right bottom,
        color-stop(0.14, rgb(63,162,249)),
        color-stop(0.28, rgb(108,199,251)),
        color-stop(0.42, rgb(132,217,250)),
        color-stop(0.56, rgb(136,218,251)),
        color-stop(0.7, rgb(132,217,250)),
        color-stop(0.84, rgb(108,199,251)),
        color-stop(0.99, rgb(63,162,249))
        );

}


#wrapper{
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;

}
.admin-login{

    background: #ffffff;
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    border:3px solid #cccccc;
    padding: 60px 0 30px 0;
}

.login-form{
    width: 80%;
    margin: 0 auto;
}
.login-form p{


    font-size:16px;
    color: #666666;
font-weight: bold;
}
.head-login{

    position: absolute;
    padding: 20px 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border:1px solid #cccccc;
    padding: 15px  70px ;
    background: #ffffff;
    left: 28%;
    top: -12%;
 background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 25%, rgb(235,235,235) 50%, rgb(247,247,247) 75%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 25%, rgb(235,235,235) 50%, rgb(247,247,247) 75%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 25%, rgb(235,235,235) 50%, rgb(247,247,247) 75%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 25%, rgb(235,235,235) 50%, rgb(247,247,247) 75%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(247,247,247) 25%, rgb(235,235,235) 50%, rgb(247,247,247) 75%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.25, rgb(247,247,247)),
	color-stop(0.5, rgb(235,235,235)),
	color-stop(0.75, rgb(247,247,247)),
	color-stop(1, rgb(255,255,255))
);


}
.text-head-login p{

    font-size: 20px;
    font-weight: bold;


}
.main-content{
    
    width: 90%;
    margin: 0 auto;
     margin-bottom: 100px;
   
}
.user-img img{

    width: 100%;

}
.user-img{
   
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.user-profile{
    
    width: 85%;
    margin: 0 auto;
}
.user-profile-text{
    font-weight: bold;
    color: #ff3333;
}
.user-profile-text2{
    
     font-weight: bold;
     color: #cccccc;
}
.user-tool{
     background: #ffffff;
    padding: 30px;
     border: 1px solid #c6c6c6;
    border-radius: 15px;
    
}

li{
    display: inline;

}
.tab-link{

    margin-bottom: 15px;
}
li a{

    padding: 10px 20px;

}
li a:hover{

    padding: 10px 20px;
    background: #cccccc;
    color: #ffffff;

}
li.active a{
    background: #999999;
    color: #ffffff;

}
li.active a:hover{
    background: #ccccff;
    color: #ffffff;

}
li a:hover{
    text-decoration: none;
    padding: 10px 20px;

}
label.error { float: none; color: red;  vertical-align: top; }


.admin_add_std input{
    
    height: 30px;
    
}
.admin_add_std p{
    
    font-weight: bold;
    
}